In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

ticker = ["QQQM", "VOO", "IYW"]
stocks = yf.download(ticker, start="2020-01-01", end="2025-01-01")

stocks.to_csv("stocksintro.csv")
stocks = pd.read_csv("stocksintro.csv", header=[0,1], index_col=[0], parse_dates=[0])
stocks

[*********************100%***********************]  3 of 3 completed

Price            Close                                High              \
Ticker             IYW        QQQM         VOO         IYW        QQQM
Date
2020-01-02   57.850109         NaN  272.760437   57.850109         NaN
2020-01-03   57.272629         NaN  270.767822   57.633247         NaN
2020-01-06   57.625931         NaN  271.782349   57.647859         NaN
2020-01-07   57.647858         NaN  271.032928   57.872026         NaN
2020-01-08   58.222904         NaN  272.431213   58.461691         NaN
...                ...         ...         ...         ...         ...
2024-12-24  165.090286  216.999695  546.102722  165.110258  217.009634
2024-12-26  165.150192  216.830612  546.092773  165.679327  217.486955
2024-12-27  162.694214  213.956650  540.432495  164.151824  215.527888
2024-12-30  160.737381  211.082687  534.416382  162.125113  212.584322
2024-12-31  159.259811  209.282730  532.262939  161.226599  211.918041

Price                          Low                                Open  \
Ticker             VOO         IYW        QQQM         VOO         IYW
Date
2020-01-02  272.787856   57.136183         NaN  270.859270   57.197098
2020-01-03  271.791515   57.065515         NaN  269.671021   57.065515
2020-01-06  271.846336   56.566002         NaN  269.040304   56.707326
2020-01-07  271.709291   57.504098         NaN  270.603340   57.711212
2020-01-08  273.573732   57.647863         NaN  270.977933   57.694159
...                ...         ...         ...         ...         ...
2024-12-24  546.181767  163.752476  214.652784  540.886850  163.822353
2024-12-26  547.238652  164.012052  215.527881  543.237876  164.670979
2024-12-27  542.941610  161.056889  212.017469  536.599636  164.141846
2024-12-30  537.478750  159.439498  209.591007  530.870038  160.357996
2024-12-31  536.471186  158.790577  208.914787  530.870099  161.006957

Price                               Volume
Ticker            QQQM         VOO     IYW       QQQM      VOO
Date
2020-01-02         NaN  271.727595  826400        NaN  3142400
2020-01-03         NaN  269.835537  377200        NaN  3247900
2020-01-06         NaN  269.104292  330800        NaN  2777100
2020-01-07         NaN  271.298001  289600        NaN  2251800
2020-01-08         NaN  271.197288  476400        NaN  3719500
...                ...         ...     ...        ...      ...
2024-12-24  214.871565  541.400551  288900  1786500.0  3439300
2024-12-26  216.293614  544.502351  410300   970300.0  4492000
2024-12-27  215.348894  542.694648  367700  1696000.0  7077100
2024-12-30  211.042916  533.991614  484000  3511900.0  6505100
2024-12-31  211.619702  535.858724  721300  2356500.0  6040800

[1258 rows x 15 columns]

In [3]:
stocks.columns

MultiIndex([( 'Close',  'IYW'),
            ( 'Close', 'QQQM'),
            ( 'Close',  'VOO'),
            (  'High',  'IYW'),
            (  'High', 'QQQM'),
            (  'High',  'VOO'),
            (   'Low',  'IYW'),
            (   'Low', 'QQQM'),
            (   'Low',  'VOO'),
            (  'Open',  'IYW'),
            (  'Open', 'QQQM'),
            (  'Open',  'VOO'),
            ('Volume',  'IYW'),
            ('Volume', 'QQQM'),
            ('Volume',  'VOO')],
           names=['Price', 'Ticker'])

In [4]:
stocks.columns = stocks.columns.to_flat_index()
stocks.columns

Index([  ('Close', 'IYW'),  ('Close', 'QQQM'),   ('Close', 'VOO'),
          ('High', 'IYW'),   ('High', 'QQQM'),    ('High', 'VOO'),
           ('Low', 'IYW'),    ('Low', 'QQQM'),     ('Low', 'VOO'),
          ('Open', 'IYW'),   ('Open', 'QQQM'),    ('Open', 'VOO'),
        ('Volume', 'IYW'), ('Volume', 'QQQM'),  ('Volume', 'VOO')],
      dtype='object')

In [5]:
stocks

,"(Close, IYW)","(Close, QQQM)","(Close, VOO)","(High, IYW)","(High, QQQM)","(High, VOO)","(Low, IYW)","(Low, QQQM)","(Low, VOO)","(Open, IYW)","(Open, QQQM)","(Open, VOO)","(Volume, IYW)","(Volume, QQQM)","(Volume, VOO)"
Date,,,,,,,,,,,,,,,
2020-01-02,57.850109,NaN,272.760437,57.850109,NaN,272.787856,57.136183,NaN,270.859270,57.197098,NaN,271.727595,826400,NaN,3142400
2020-01-03,57.272629,NaN,270.767822,57.633247,NaN,271.791515,57.065515,NaN,269.671021,57.065515,NaN,269.835537,377200,NaN,3247900
2020-01-06,57.625931,NaN,271.782349,57.647859,NaN,271.846336,56.566002,NaN,269.040304,56.707326,NaN,269.104292,330800,NaN,2777100
2020-01-07,57.647858,NaN,271.032928,57.872026,NaN,271.709291,57.504098,NaN,270.603340,57.711212,NaN,271.298001,289600,NaN,2251800
2020-01-08,58.222904,NaN,272.431213,58.461691,NaN,273.573732,57.647863,NaN,270.977933,57.694159,NaN,271.197288,476400,NaN,3719500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-24,165.090286,216.999695,546.102722,165.110258,217.009634,546.181767,163.752476,214.652784,540.886850,163.822353,214.871565,541.400551,288900,1786500.0,3439300
2024-12-26,165.150192,216.830612,546.092773,165.679327,217.486955,547.238652,164.012052,215.527881,543.237876,164.670979,216.293614,544.502351,410300,970300.0,4492000
2024-12-27,162.694214,213.956650,540.432495,164.151824,215.527888,542.941610,161.056889,212.017469,536.599636,164.141846,215.348894,542.694648,367700,1696000.0,7077100
2024-12-30,160.737381,211.082687,534.416382,162.125113,212.584322,537.478750,159.439498,209.591007,530.870038,160.357996,211.042916,533.991614,484000,3511900.0,6505100
2024-12-31,159.259811,209.282730,532.262939,161.226599,211.918041,536.471186,158.790577,208.914787,530.870099,161.006957,211.619702,535.858724,721300,2356500.0,6040800

In [6]:
stocks.columns = pd.MultiIndex.from_tuples(stocks.columns)
stocks

                 Close                                High              \
                   IYW        QQQM         VOO         IYW        QQQM
Date
2020-01-02   57.850109         NaN  272.760437   57.850109         NaN
2020-01-03   57.272629         NaN  270.767822   57.633247         NaN
2020-01-06   57.625931         NaN  271.782349   57.647859         NaN
2020-01-07   57.647858         NaN  271.032928   57.872026         NaN
2020-01-08   58.222904         NaN  272.431213   58.461691         NaN
...                ...         ...         ...         ...         ...
2024-12-24  165.090286  216.999695  546.102722  165.110258  217.009634
2024-12-26  165.150192  216.830612  546.092773  165.679327  217.486955
2024-12-27  162.694214  213.956650  540.432495  164.151824  215.527888
2024-12-30  160.737381  211.082687  534.416382  162.125113  212.584322
2024-12-31  159.259811  209.282730  532.262939  161.226599  211.918041

                               Low                                Open  \
                   VOO         IYW        QQQM         VOO         IYW
Date
2020-01-02  272.787856   57.136183         NaN  270.859270   57.197098
2020-01-03  271.791515   57.065515         NaN  269.671021   57.065515
2020-01-06  271.846336   56.566002         NaN  269.040304   56.707326
2020-01-07  271.709291   57.504098         NaN  270.603340   57.711212
2020-01-08  273.573732   57.647863         NaN  270.977933   57.694159
...                ...         ...         ...         ...         ...
2024-12-24  546.181767  163.752476  214.652784  540.886850  163.822353
2024-12-26  547.238652  164.012052  215.527881  543.237876  164.670979
2024-12-27  542.941610  161.056889  212.017469  536.599636  164.141846
2024-12-30  537.478750  159.439498  209.591007  530.870038  160.357996
2024-12-31  536.471186  158.790577  208.914787  530.870099  161.006957

                                    Volume
                  QQQM         VOO     IYW       QQQM      VOO
Date
2020-01-02         NaN  271.727595  826400        NaN  3142400
2020-01-03         NaN  269.835537  377200        NaN  3247900
2020-01-06         NaN  269.104292  330800        NaN  2777100
2020-01-07         NaN  271.298001  289600        NaN  2251800
2020-01-08         NaN  271.197288  476400        NaN  3719500
...                ...         ...     ...        ...      ...
2024-12-24  214.871565  541.400551  288900  1786500.0  3439300
2024-12-26  216.293614  544.502351  410300   970300.0  4492000
2024-12-27  215.348894  542.694648  367700  1696000.0  7077100
2024-12-30  211.042916  533.991614  484000  3511900.0  6505100
2024-12-31  211.619702  535.858724  721300  2356500.0  6040800

[1258 rows x 15 columns]

In [7]:
stocks.describe()

             Close                                   High               \
               IYW         QQQM          VOO          IYW         QQQM
count  1258.000000  1061.000000  1258.000000  1258.000000  1061.000000
mean     98.855788   147.172600   372.581208    99.681681   148.225165
std      27.474878    28.053772    74.268584    27.567742    28.058432
min      44.200180   104.894753   187.582336    45.130968   106.401496
25%      79.250904   124.775536   330.493462    80.037306   125.699847
50%      93.280899   143.593369   366.297165    93.766214   144.550888
75%     112.289999   161.358810   404.049995   112.881172   161.981267
max     165.892975   219.961594   550.268494   166.132494   220.368731

                            Low                                   Open  \
               VOO          IYW         QQQM          VOO          IYW
count  1258.000000  1258.000000  1061.000000  1258.000000  1258.000000
mean    374.680381    97.915511   145.971161   370.181929    98.817301
std      74.143386    27.366323    28.040615    74.384942    27.508470
min     193.560502    42.701664   102.360676   184.166238    44.151449
25%     332.853508    78.262291   123.790372   327.172831    79.065051
50%     368.258239    92.376182   142.467935   363.812688    93.100656
75%     405.632372   110.772882   160.411204   401.963736   111.894489
max     551.391063   164.495800   218.313193   549.539827   165.369816

                                       Volume
              QQQM          VOO           IYW          QQQM           VOO
count  1061.000000  1258.000000  1.258000e+03  1.061000e+03  1.258000e+03
mean    147.163490   372.525295  6.854354e+05  1.014445e+06  4.866292e+06
std      28.082986    74.307989  8.791265e+05  8.684011e+05  2.877632e+06
min     102.693330   192.504456  1.059000e+05  1.310000e+04  9.847000e+05
25%     124.988721   329.767106  3.659000e+05  3.826000e+05  3.259900e+06
50%     143.563224   366.238963  5.080000e+05  8.657000e+05  4.145050e+06
75%     161.220488   403.596361  7.581750e+05  1.384000e+06  5.572975e+06
max     219.226760   550.160154  1.862810e+07  8.216900e+06  3.541800e+07